header{
  .header-titulo{
    margin: 30px 0;
    font-size: 28px;
    color: #000000;
    font-weight: 700;
    user-select: none;
  }
  .boton-principal-cerrar{    
    user-select: none;
    position: fixed;
    top: 20px;
    left: 30px;
    color: blue;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    cursor: pointer;
    &:hover{
      color: black;
    }
  }
  .boton-alergenos{
    margin-bottom: 24px;
    padding: 13px 50px;
    border-style: solid;
    color: rgb(129, 206, 215);
    border-color: rgb(129, 206, 215);
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        background-color: rgb(185, 240, 247);
    }
  }
  .contenedor-lista-alergenos{
    background-color: rgb(212, 239, 244);
    margin: 10px 10px;
    padding: 30px 15px;
    padding-bottom: 0;
    height: 100%;
    width: 80%;
    max-width: 50rem;
    border-radius: 40px;
    display: none;
    flex-direction: column;
  }
  .lista-alergenos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .li-elemento-alergenos{
    display: flex;
    align-items: center;
  }
  .separacion-titulo-alergenos{
    display: flex;
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: -4.5rem;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  .titulo-alergenos{
    color: rgb(129, 206, 215);
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    user-select: none;
  }
  .boton-cierre-alergenos{
    color: black;
    cursor: pointer;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 6rem;
    margin-right: 1rem;
    &:hover{
      color: rgb(21, 140, 196);
    }
  }
  .icono-alergenos{
    height: 2rem;
    width: 2rem;
  }
  p{
    font-size: 16px;
  }
}