/*Imagenes Cuadros*/
.imagen-titulo{
  height: 42vw;
  max-height: 20rem;
  width: 100vw;
  max-width: 36rem;
  box-shadow: 0 7px 5px rgba($color: #000000, $alpha: 0.1);
}
.imagen-cuadro{
  height: 52vw;
  max-height: 20rem;
  width: 100%;
  max-width: 36rem;
  box-shadow: 0 7px 5px rgba($color: #000000, $alpha: 0.1);
}